@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page background and text*/
body {
  background-color: #090031;
  color: #ffff00;
  margin: 0;
  padding: 0;
}
/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e7ff;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0900b9;
}
